@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.skills {
  margin-bottom: 70px;
  margin-left: 40px;
}

.skills h2 {
  color: #1e90ff;
  border-bottom: 3px solid #1e90ff;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.skills ul {
  list-style-type: disc;
  padding: 0;
}

.skills ul ul{
  list-style-type: none;
  padding: 0;
}

.skills ul li {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.title{
  font-weight: bold;
}

.main-li{
  margin-top: 20px;
}
